body {
	width: 300px;
	height: auto;
}

h3 {
	margin: 0;
}

p {
	margin: 0 5px;
}

ul {
	margin: 0 0 5px 0;
	padding: 0 0 0 30px;
	max-height: 200px;
	overflow-y: scroll;
}

label {
	font-size: large;
	line-height: 1;
}

.star_indicator {
	margin: 0 -4px 0 0;
}

.btn_dark {
	background: #3a3a3d;
}

.btn_dark:hover {
	background: #464649;
}

.btn_light {
	background: #f2f2f2;
}

.btn_light:hover {
	background: #e5e5e5;
}

.center {
	text-align: center;
}

.float_right {
	float: right;
}

.spacing {
	margin: 5px 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.d_none {
	display: none;
}

#star_btn {
	font-size: 24px;
	line-height: 1;
	border-radius: 4.5px;
	margin: 0 -35px 0 0;
	padding: 3px 10.5px;
	z-index: 999;
}

#notice {
	background: red;
	color: white;
}
