.d_none {
	display: none;
}

.btn_dark {
	background: #2a2a2d;
	color: #efeff1;
}

.btn_dark:hover {
	background: #363639;
}

.btn_light {
	background: #f2f2f2;
	color: #0e0e10;
}

.btn_light:hover {
	background: #ebebeb;
}

.star_indicator {
	margin: 0 -0.35em 0 0;
}

#star_btn {
	font-size: 2.375rem;
	line-height: 1;
	height: 1.265em;
	padding: 0 0.425em;
	border-radius: 0.175em;
	z-index: 999;
}
