.d_none {
	display: none;
}

.star_indicator {
	margin: 0 -0.35em 0 0;
}

#star_btn {
	font-size: 2.375rem;
	line-height: 1;
	height: 1.265em;
	margin: 0 -1.475em 0 0;
	padding: 0 0.44em;
	border-radius: 0.175em;
	z-index: 999;

	&.dark {
		background: #2f2f35;
		color: #efeff1;
	
		&:hover {
			background: #35353b;
		}
	}
	
	&.light {
		background: #ededef;
		color: #0e0e10;
	
		&:hover {
			background: #e3e3e6;
		}
	}
}
