.d_none {
	display: none;
}

.btn_dark {
	background: #2f2f35;
	color: #efeff1;
}

.btn_dark:hover {
	background: #35353b;
}

.btn_light {
	background: #ededef;
	color: #0e0e10;
}

.btn_light:hover {
	background: #e3e3e6;
}

.star_indicator {
	margin: 0 -0.35em 0 0;
}

#star_btn {
	font-size: 2.375rem;
	line-height: 1;
	height: 1.265em;
	margin: 0 -1.475em 0 0;
	padding: 0 0.44em;
	border-radius: 0.175em;
	z-index: 999;
}
