body {
	width: 25em;
	height: auto;
}

h3 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0 0 0 2em;
	max-height: 15em;
	overflow-y: scroll;
}

label {
	font-size: large;
	line-height: 1;
}

.d_none {
	display: none;
}

.center {
	text-align: center;
}

.spacing {
	margin: 0.3em 0;
}

.flex {
	display: flex;

	&.between {
		justify-content: space-between;
	}

	&.end {
		justify-content: end;
	}
}
