body {
	width: 25em;
	height: auto;
}

h3 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0 0 0 2em;
	max-height: 15em;
	overflow-y: scroll;
}

label {
	font-size: large;
	line-height: 1;
}

.center {
	text-align: center;
}

.float_right {
	float: right;
}

.spacing {
	margin: 0.3em 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.d_none {
	display: none;
}
